@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNova-Black.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNovaCond-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNovaCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNova-Bold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNovaCond-Light.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/reeceballano/proximanovafont/master/ProximaNovaCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

